@using InventoryManagementSystem1.Models.Product
@model IEnumerable<Product>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["title"]</title>
    <link href="~/style.css" rel="stylesheet" />
</head>

<h2>Products</h2>

@* bootstrap by default nai *@
<a class="btn btn-primary" asp-action="Create">Add New Product</a>

<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Description</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Product in Model)
        {
            <tr>
                <td>@Product.Name</td>
                <td>@Product.Quantity</td>
                <td>@Product.Description</td>
                <td>@Product.Price</td>
                <td>
                <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@Product.Id">Details</a>
                    <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@Product.Id">Edit</a>
                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@Product.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>